.box-perso {
    width: 60%;
    margin: 100px auto 60px auto;
    padding: 40px 60px 40px 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
}

.box-produit {
    width: 80%;
    margin: 100px auto 60px auto;
    padding: 40px 60px 40px 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
}

.box-coord-banq {
    width: 60%;
    margin: 0px auto 0px auto;
}

.image-produit-upload>input {
    display: none;
  }

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: rgb(170, 170, 170);
}

.body-bg-grey {
    background-color:RGB(239, 239, 238);
}

.description {
    font-size: 15px;
    white-space: pre-wrap;
}