.box-perso {
    padding-top: 80px;
    width: 40%;
    margin: auto;
}

.image-produit-upload>input {
    display: none;
  }

.datatable-produit {
    padding-top: 75px;
    width: 80%;
    margin: auto;
  }